
body {
  background-color: #FFFFF0; /* Ivory */
  font-family: 'Jost', sans-serif;
}
font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.35em;
  font-weight: 500;
}

h2 {
  font-size: 1.20em;
  font-weight: 500;
}

h3 {
  font-size: 1.10em;
  font-weight: 400;
}
h4 {
  line-height: 1.4;
}
p {
  font-size: 1.00em;
  font-weight: 500;
}
img {
  width: 95%;
}
