body {
  background-color: #FFFFF0;
  /* Ivory */
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.35em;
  font-weight: 500;
}

h2 {
  font-size: 1.20em;
  font-weight: 500;
}

h3 {
  font-size: 1.10em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.9s opacity;
}

.button:hover {
  opacity: 0.7;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  /* selected link */
  color: #994c30;
}

.button.contact {
  /* used for email button */
  background-color: transparent;
  color: #ff7f50 !important;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
}

.fab {
  font-size: 50px
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#.logo {
  max-width: 240px;
}

header {
  background-color: #ffe4c4;
  -webkit-box-shadow: 7px 7px 4px -2px rgba(255, 239, 212, 1);
  -moz-box-shadow: 7px 7px 4px -2px rgba(255, 239, 212, 1);
  box-shadow: 7px 7px 4px -2px rgba(255, 239, 212, 1);
  position: fixed;
  text-align: center;
  padding: 10px;
}

main {
  padding-top: 133px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  width: 80px
}

nav>ul>li>a:active {
  color: #994c30;
  padding: 0 15px;
  font-weight: 700;
  color: #4a4a4a;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
